

title: Chemins de traverse
subtitle: Découvrez la forêt autrement !
email: 
description: >- # this means to ignore newlines until "baseurl:"
  Installing a Jekyll web site with Decap CMS
baseurl: "" # the subpath of your site, e.g. /blog
logo: /assets/logo-chemins-de-traverse-proto-1.svg
url: "https://jekyll-decap-cms.netlify.app"
twitter_username: djacquel
github_username:  djacquel

timezone: Europe/Paris

# Build settings
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-exif-data
  
collections:
  authors:
  galleries:
    output: True
  agenda:


defaults:
  - scope:
      type: "pages"
    values:
      layout: "page"

  - scope:
      path: "pages-fr"
    values:
      lang: fr

  - scope:
      path: "pages-en"
    values:
      lang: en


input: GFM
kramdown:
    parse_block_html: true
    parse_span_html: true


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
