
{% if site.print-includes-boundaries-comments == true %}
<!-- _includes/date-fr.html -->
{% endif %}

<h4>from include date_fr.html</h4>
date_start = {{ event.date_start }}<br>

{{ 'Publié le' }}
{% assign dayFR = event.date_start | date: "%d " %}
{{ dayFR }}
{% assign monthFR = event.date_start | date: "%m" %}
  {% case monthFR %}
    {% when "01" %}Janvier
    {% when "02" %}Février
    {% when "03" %}Mars
    {% when "04" %}Avril
    {% when "05" %}Mai
    {% when "06" %}Juin
    {% when "07" %}Juillet
    {% when "08" %}Août
    {% when "09" %}Septembre
    {% when "10" %}Octobre
    {% when "11" %}Novembre
    {% when "12" %}Décembre
    {% else %}{{ monthFR }}
  s{% endcase %}
{% assign yearFR = event.date_start | date: " %Y" %} 
{{ yearFR }}

{% if site.print-includes-boundaries-comments == true %}
<!-- end _includes/date-fr.html -->
{% endif %}

