<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  </div>
</footer>

<script src="{{ '/assets/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>

<script src="{{ "/assets/scripts.js" | relative_url }}"></script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

    <script>
      // Enable hover behavior for dropdowns on desktop only
      if (window.innerWidth > 768) {
        document.querySelectorAll('.dropdown').forEach(function(element) {
          element.addEventListener('mouseenter', function() {
            this.querySelector('.dropdown-toggle').click();
          });
          element.addEventListener('mouseleave', function() {
            this.querySelector('.dropdown-toggle').click();
          });
        });
        
        document.querySelectorAll('.dropend').forEach(function(element) {
          element.addEventListener('mouseenter', function() {
            this.querySelector('.dropdown-toggle').click();
          });
          element.addEventListener('mouseleave', function() {
            this.querySelector('.dropdown-toggle').click();
          });
        });
      }
    </script>