<div class="bg-secondary-subtle border-top my-3 rounded">
  <footer class="p-2 my-1">
    <ul class="nav justify-content-center">

    {%- assign cats = site.data.categories.categories | where: 'menu', 'footer' -%}
    {%- for cat in cats -%}
      {%- assign pages = site.pages | where:"category", cat.fr | where:"lang", page.lang | sort: "ordre" -%}
      {%- assign pages-size = pages | size -%}
      {% if pages-size > 0 %}
          {%- for p in pages -%}
          <li class="nav-item">
            <a class="nav-link px-2 text-body-secondary{% if p.url == page.url %} active" aria-current="page{% endif %}"  href="{{ p.url | relative_url }}">{{ p.title }}</a>
          </li>
          {%- endfor -%}
      {% endif %}
    {%- endfor -%}

    </ul>
    <p class="text-center text-body-secondary">© {{ site.time | date:"%Y" }} {{ site.title }}</p>


    <div class="container">
      <img src="{{ '/assets/logos/logo-ligue-52.svg' | relative_url }}" alt="Logo Ligue de l'enseignement de Haute-Marne" width="200px" class="img-fluid mx-2"></a>
      <img src="{{ '/assets/logos/logo-CIN.png' | relative_url }}" alt="Logo Centre d'initiation à la nature d'Auberive" width="200px" class="img-fluid mx-2"></a>
      <img src="{{ '/assets/logos/logo-feader.svg' | relative_url }}" alt="Logo FEADER" width="200px" class="img-fluid mx-2"></a>
      <img src="{{ '/assets/logos/logo-ecolabel.svg' | relative_url }}" alt="Logo Ecolabel" width="120px" class="img-fluid mx-2"></a>
      <img src="{{ '/assets/logos/logo-esprit-parc-forets.svg' | relative_url }}" alt="Logo Esprit Parc Forêts" width="130px" class="img-fluid mx-2">
      <img src="{{ '/assets/logos/logo_vacaf.svg' | relative_url }}" alt="Logo VACAF" width="100px" class="img-fluid mx-2">
    </div>

  </footer>
</div>

<script src="{{ '/assets/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>


{% comment %}
Lightbox for Bootstrap 5
https://trvswgnr.github.io/bs5-lightbox/
{% endcomment %}
<script src="{{ '/assets/lightbox/index.bundle.min.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts.js' | relative_url }}"></script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<script>
  // Enable hover behavior for dropdowns on desktop only
  if (window.innerWidth > 768) {
    document.querySelectorAll('.dropdown').forEach(function(element) {
      element.addEventListener('mouseenter', function() {
        this.querySelector('.dropdown-toggle').click();
      });
      element.addEventListener('mouseleave', function() {
        this.querySelector('.dropdown-toggle').click();
      });
    });
    
    document.querySelectorAll('.dropend').forEach(function(element) {
      element.addEventListener('mouseenter', function() {
        this.querySelector('.dropdown-toggle').click();
      });
      element.addEventListener('mouseleave', function() {
        this.querySelector('.dropdown-toggle').click();
      });
    });
  }
</script>

<a href="https://bff.ecoindex.fr/redirect/?url=https://dev.chemindetraverse52.org/" target="_blank">
    <img src="https://bff.ecoindex.fr/badge/?theme=dark&url=https://dev.chemindetraverse52.org/" alt="Ecoindex Badge" />
</a>
