<div class="container text-bg-light">
  <footer class="py-3 my-4">
      <a class="navbar-brand" href="/">
        <img src="{{ site.logo | relative_url }}" alt="Logo" width="70" class="d-inline-block align-text-top">
        <span>{{ site.title }}</span>
        <small>{{ site.subtitle }}</small>
      </a>
          
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">

    {%- assign cats = site.data.categories.categories | where: 'menu', 'footer' -%}

    {%- for cat in cats -%}
      {%- assign pages = site.pages | where:"categorie", cat.fr | where:"lang", page.lang | sort: "ordre" -%}
      {%- assign pages-size = pages | size -%}

      {% if pages-size > 0 %}
          {%- for p in pages -%}
          <li class="nav-item">
            <a class="nav-link px-2 text-body-secondary" href="{{ p.url | relative_url }}">{{ p.title }}</a>
          </li>
          {%- endfor -%}
      {% endif %}
    {%- endfor -%}

    </ul>
    <p class="text-center text-body-secondary">© {{ site.time | date:"%Y" }} {{ site.title }}</p>
  </footer>
</div>


<script src="{{ '/assets/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>

<script src="{{ "/assets/scripts.js" | relative_url }}"></script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

    <script>
      // Enable hover behavior for dropdowns on desktop only
      if (window.innerWidth > 768) {
        document.querySelectorAll('.dropdown').forEach(function(element) {
          element.addEventListener('mouseenter', function() {
            this.querySelector('.dropdown-toggle').click();
          });
          element.addEventListener('mouseleave', function() {
            this.querySelector('.dropdown-toggle').click();
          });
        });
        
        document.querySelectorAll('.dropend').forEach(function(element) {
          element.addEventListener('mouseenter', function() {
            this.querySelector('.dropdown-toggle').click();
          });
          element.addEventListener('mouseleave', function() {
            this.querySelector('.dropdown-toggle').click();
          });
        });
      }
    </script>