<header class="site-header mb-3" role="banner">
  <div class="row">
    <div class="col-3 col-md-auto">
      <a class="navbar-brand " href="/">
        <img src="{{ site.logo | relative_url }}" alt="Logo CIN" class="d-inline-block align-text-top img-fluid mt-2">
      </a>
    </div>
    <div class="col-6">
      <a class="navbar-brand " href="/">
        <span class="d-block fw-bold fs-1 text-secondary">{{ site.title }}</span>
        <span class="fs-3 text-secondary">{{ site.subtitle }}</span> 
      </a>
    </div>
  </div>
  <img src="{{ '/assets/logos/logo-feader.svg' | relative_url }}" alt="Logo FEADER" id="faeder" width="200px" class="img-fluid m-2 d-none d-lg-block d-xl-block d-xxl-block">
</header>

<nav class="navbar navbar-expand-lg justify-content-end bg-primary-subtle border-top mb-3" aria-label="Offcanvas navbar large">
      <img src="{{ '/assets/logos/logo-feader.svg' | relative_url }}" alt="Logo FEADER" id="faeder" width="200px" class="img-fluid m-2 d-lg-none d-xl-none d-xxl-none justify-content-start">
      <button class="navbar-toggler text-bg-primary shadow-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span>Menu</span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header ">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-nowrap">
            
            {%- assign cats = site.data.categories.categories | where: 'menu', 'main' -%}

            {%- for cat in cats -%}
              {%- assign pages = site.pages | where:"category", cat.fr | where:"lang", page.lang | sort: "order" -%}
              {%- assign pages-size = pages | size -%}

              {% if pages-size > 0 %}
                {% if cat.is_parent == true %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ cat[page.lang] }}
                    </a>
                    <ul class="dropdown-menu">
                      {%- for p in pages -%}
                      <li>
                        <a class="dropdown-item {% if p.url == page.url %} active" aria-current="page"{% else %}"{% endif %} href="{{ p.url | relative_url }}">{{ p.title }}</a>
                      </li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {% else %}
                  {%- for p in pages -%}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}</a>
                  </li>
                  {%- endfor -%}
                {% endif %}
              {% endif %}
            {%- endfor -%}
          </ul>

{% comment %}
          <div class="navbar-text">
            {%- if page.lang == "fr" -%}
              <a href="{{ '/en' | relative_url }}">
                <img src="{{ '/assets/english-language.svg' | relative_url }}" alt="English version" width="40">
              </a>
            {% elsif page.lang == "en" %}
              <a href="{{ '/' | relative_url }}">
                <img src="{{ '/assets/langue-francaise.svg' | relative_url }}" alt="Version française" width="40">
              </a>
            {% endif %}
          </div> 
{% endcomment %}

        </div>


      </div>
</nav>
