<header class="site-header" role="banner">
  <nav class="navbar navbar-expand-lg bg-primary-subtle border-bottom mb-3 rounded" aria-label="Offcanvas navbar large">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <div class="row">
          <div class="col-3">
            <img src="{{ site.logo | relative_url }}" alt="Logo" class="d-inline-block align-text-top img-fluid">
          </div>
          <div class="col-9 text-secondary">
            <div class="col-8 h1">
              <span>{{ site.title }}</span>
            </div>
            <div class="col-8 h2">
              <small>{{ site.subtitle }}</small>
            </div>
          </div>
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span>Menu</span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            
            {%- assign cats = site.data.categories.categories | where: 'menu', 'main' -%}

            {%- for cat in cats -%}
              {%- assign pages = site.pages | where:"category", cat.fr | where:"lang", page.lang | sort: "order" -%}
              {%- assign pages-size = pages | size -%}

              {% if pages-size > 0 %}
                {% if cat.is_parent == true %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ cat[page.lang] }}
                    </a>
                    <ul class="dropdown-menu">
                      {%- for p in pages -%}
                      <li>
                        <a class="dropdown-item {% if p.url == page.url %} active" aria-current="page"{% endif %}" href="{{ p.url | relative_url }}">{{ p.title }}</a>
                      </li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {% else %}
                  {%- for p in pages -%}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}</a>
                  </li>
                  {%- endfor -%}
                {% endif %}
              {% endif %}
            {%- endfor -%}
          </ul>

{% comment %}
          <div class="navbar-text">
            {%- if page.lang == "fr" -%}
              <a href="{{ '/en' | relative_url }}">
                <img src="{{ '/assets/english-language.svg' | relative_url }}" alt="English version" width="40">
              </a>
            {% elsif page.lang == "en" %}
              <a href="{{ '/' | relative_url }}">
                <img src="{{ '/assets/langue-francaise.svg' | relative_url }}" alt="Version française" width="40">
              </a>
            {% endif %}
          </div> 
{% endcomment %}

        </div>


      </div>
    </div>
  </nav>

</header>