
{% if site.print-includes-boundaries-comments == true %}
<!-- includes/home-category-section-thumbnails.html  -->
{% endif %}
  <section class="pt-4 text-center">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto text-bg-secondary rounded">
        <h1 class="fw-medium">{{ include.category }}</h1>
      </div>
    </div>
  </section>
{%- assign pages = site.pages | where:"category", include.category | where:"lang", page.lang | sort: "order" -%}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {%- for p in pages -%}
    <div class="col">
      <div class="card shadow-sm bg-primary-subtle rounded">
        <a class="nav-link" href="{{ p.url | relative_url }}">
          {%- include responsive_image.html model="4" target_page=p -%}
        </a>
        <div class="card-body">
          <a class="nav-link" href="{{ p.url | relative_url }}">
            <h2 class="card-text">{{ p.title }}</h2>
          </a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>

{% if site.print-includes-boundaries-comments == true %}
<!-- end includes/home-category-section-thumbnails.html  -->
{% endif %}
