<!-- includes/responsive_image.html  -->
{% comment %}+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Generates responsive image html tag

Call with 
{%- include responsive_image.html model="4" index=0 -%}

Where :
  - "model" is the name of one model present in config site.img_trans_models
  - "index" is an integer given to determine which image in the page.gallery is used.
    as page.gallery is an array, index start at 0. 

<img src="//placehold.it/300x300"  
srcset="//placehold.it/160x160 160w, 
        //placehold.it/90x90 130w, 
        //placehold.it/300x300 300w"   
sizes="(min-width: 1200px) 160px, 
       (min-width: 992px) 130px, 
       (min-width: 768px) 90px, 
       300px"  />

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++{% endcomment %}

{% assign debug = false %}

{% assign image_url = page.gallery[include.index] %}
{% assign url_parts = image_url | split: "/" %}


{% if debug == true %}
<br><br>  
url_parts = {{ url_parts | jsonify }}<br>
include.model : {{ include.model }} - include.index : {{ include.index }}<br>
Page galleery : {{ page.gallery | jsonify }}<br>
image_url = {{ image_url }}<br>
<br>
{% endif %}

{% for model in site.img_transformation_models %}
  {% if model.name == include.model %}
    {% assign format = model.format %}
    {% assign sizes = model.sizes %}
      {% if debug == true %}
      format = {{ format }} - sizes = {{ sizes | jsonify }}<br>
      {% endif %}
  {% endif %}
{% endfor %}

{% assign img_srcset_array = "" | split: "" %}
{% assign sizes_array = "" | split: "" %}

{% if debug == true %}
img_srcset_array = {{ img_srcset_array | jsonify }}<br>
sizes_array = {{ sizes_array | jsonify }}<br>
{% endif %}

{% for size in sizes %}

  {% assign index = forloop.index0 %}
  {% assign breakpoint = site.breakpoints[index] %}

  {% capture transformation_name %}t_{{ size }}-{{ format }}{% endcapture %}
  
  {% comment %} ############## srcset ################# {% endcomment %}
  {% assign url_trans = image_url | replace: url_parts[6], transformation_name %}

  {% if index == 0 %}{% assign img_src = url_trans %}{% endif %}

  {% capture srcset_element %}{{ url_trans }} {{ size }}w{% endcapture %}

  {% assign img_srcset_array = img_srcset_array | push: srcset_element %}

  {% comment %} ############## sizes ################# {% endcomment %}
  {% capture size_element %}(min-width: {{ site.breakpoints[index] }}px) {{ size }}px{% endcapture %}
  {% assign sizes_array = sizes_array | push: size_element %}
  
  {% if debug == true %}
  index = {{ index }}<br>
  size = {{ size }}<br>
  breakpoint = {{ breakpoint }}<br>
  transformation_name = {{ transformation_name }}<br>
  img_src = {{ img_src }}<br>
  img_srcset_array = {{ img_srcset_array | jsonify }}<br>
  sizes_array = {{ sizes_array | jsonify }}<br>
  {% endif %}

{% endfor %}

{% assign img_srcset = img_srcset_array | join: ", " %}
{% assign sizes = sizes_array | join: ", " %}

{% if debug == true %}
img_srcset = {{ img_srcset }}<br>
sizes = {{ sizes }}<br>
{% endif %}

<img class="img-fluid" 
src="{{ img_src }}" 
srcset="{{ img_srcset }}"
sizes="{{ sizes }}" >

<!-- end _includes/responsive_image.html  -->