
{% if site.print-includes-boundaries-comments == true %}
<!-- includes/responsive_image.html  -->
{% endif %}
{%- comment %}+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Generates responsive image html tag

From within a page call with 
{%- include responsive_image.html model="4" index=0 -%}
It will use current page.gallery and look for an image at passed index

From anywhere, just pass the PAGE OBJECT in target_page
{%- include responsive_image.html model="4" target_page=PAGE.OBJECT -%}


Where :
  - "model" is the name of one model present in config site.img_trans_models
  - "index" is an integer given to determine which image in the page.gallery is used.
    as page.gallery is an array, index start at 0.
  - "target_page" a page object


<img src="//placehold.it/300x300"  
srcset="//placehold.it/160x160 160w, 
        //placehold.it/90x90 130w, 
        //placehold.it/300x300 300w"   
sizes="(min-width: 1200px) 160px, 
       (min-width: 992px) 130px, 
       (min-width: 768px) 90px, 
       300px"  />

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++{%- endcomment %}
{%- assign debug = false -%}


{%- if include.index -%}
  {%- assign target_page = page %}
  {%- assign image_url = page.gallery[include.index] %}
{%- elsif include.target_page -%}
  {%- assign target_page = include.target_page %}
  {%- assign image_url = target_page.gallery.first %}
{%- endif -%}

{%- assign url_parts = image_url | split: "/" -%}


{%- if debug == true -%}
<br><br>
include.model = {{ include.model }}<br>
include.index = {{ include.index }}<br>
include.target_page = {{ target_page }}<br><br><br>



url_parts = {{ url_parts | jsonify }}<br>
include.model : {{ include.model }} - include.index : {{ include.index }}<br>
Page gallery : {{ target_page.gallery | jsonify }}<br>
image_url = {{ image_url }}<br>
<br>

{%- endif -%}


{%- assign model = site.img_transformation_models | where: "name", include.model | first -%}

{%- if debug == true -%}
<br><br>
model = {{ model | jsonify }}<br>

<br>

{%- endif -%}

{%- assign format = model.format -%}
{%- assign sizes = model.sizes -%}

{%- if debug == true %}
  format = {{ format }} - sizes = {{ sizes | jsonify }}<br>
{%- endif %}


{%- assign img_srcset_array = "" | split: "" %}
{%- assign sizes_array = "" | split: "" %}

{%- if debug == true %}
img_srcset_array = {{ img_srcset_array | jsonify }}<br>
sizes_array = {{ sizes_array | jsonify }}<br>
{%- endif %}

{%- for size in sizes %}

  {%- assign index = forloop.index0 %}
  {%- assign breakpoint = site.breakpoints[index] %}

  {%- capture transformation_name %}t_{{ size }}-{{ format }}{%- endcapture %}
  
  {%- comment %} ############## srcset ################# {%- endcomment %}
  {%- assign url_trans = image_url | replace: url_parts[6], transformation_name %}

  {%- if index == 0 %}{%- assign img_src = url_trans %}{%- endif %}

  {%- capture srcset_element %}{{ url_trans }} {{ size }}w{%- endcapture %}

  {%- assign img_srcset_array = img_srcset_array | push: srcset_element %}

  {%- comment %} ############## sizes ################# {%- endcomment %}
  {%- capture size_element %}(min-width: {{ site.breakpoints[index] }}px) {{ size }}px{%- endcapture %}
  {%- assign sizes_array = sizes_array | push: size_element %}
  
  {%- if debug == true %}
  index = {{ index }}<br>
  size = {{ size }}<br>
  breakpoint = {{ breakpoint }}<br>
  transformation_name = {{ transformation_name }}<br>
  img_src = {{ img_src }}<br>
  img_srcset_array = {{ img_srcset_array | jsonify }}<br>
  sizes_array = {{ sizes_array | jsonify }}<br>
  {%- endif %}

{%- endfor %}

{%- assign new_line = ",
" %}
{%- assign img_srcset = img_srcset_array | join: new_line %}
{%- assign sizes = sizes_array | join: new_line %}

{%- if debug == true %}
img_srcset = {{ img_srcset }}<br>
sizes = {{ sizes }}<br>
{%- endif %}

<img class="img-fluid rounded" 
src="{{ img_src }}" 
srcset="{{ img_srcset }}"
sizes="{{ sizes }}" >

{% if site.print-includes-boundaries-comments == true %}
<!-- end includes/responsive_image.html  -->
{% endif %}
