<!-- _includes/responsive_image.html  -->

{{ include.col }}

<div class="container text-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col bg-primary-subtle">Column<br><br></div>
    <div class="col bg-secondary-subtle">Column<br></div>
    <div class="col bg-warning-subtle">Column</div>
    <div class="col bg-success-subtle">Column<br><br><br></div>
  </div>
</div>

{% comment %}
{% for img_url in page.gallery %}Original
  <img class="img-fluid" src="{{ img_url }}"><br>
  {% assign url_parts = img_url | split: "/" %}
  {% for img_trans in site.images_transformations %}
    {% assign url_trans = img_url | replace: url_parts[6], img_trans %}
      {{ img_trans }}<br>
      <img class="img-fluid" src="{{ url_trans }}"><br>
    {% endfor %}
{% endfor %}
{% endcomment %}
<!-- end _includes/responsive_image.html  -->