---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


a.externalLink{
  background: url(../img/external-link-10.png) center right no-repeat;
  padding-right: 13px;
}

a.externalLink:hover{
  background: url(../img/external-link-10-green.png) center right no-repeat;
}
