---
layout: none
---
@charset "UTF-8";
/*!
 * You can override Bootstrap variables here
 * @see https://getbootstrap.com/docs/5.3/customize/color/
 */

:root, [data-bs-theme="light"] {

  --bs-primary: #a5c235;
  --bs-primary-rgb: 165, 194, 53;
  --bs-primary-bg-subtle: #f9fcee;

  --bs-secondary: #4d3516;
  --bs-secondary-rgb: 117, 73, 16;
  --bs-secondary-bg-subtle: #fdfdfd;

  --bs-tertiary: #e88427;
  --bs-tertiary-rgb: 232, 132, 39;

  --bs-body-bg: var(--bs-primary-bg-subtle);

  --bs-body-font-size: 1.2rem;
  --bs-body-font-family: 'Glacial Indifference', sans-serif;

/*
    
    --bs-heading-color: #4b7242;

    --bs-bg-opacity: 1;
    --bs-tertiary-bg: #4b7242;
    --bs-tertiary-bg-rgb: rgb(75 114 66);
    --bs-tertiary-color: black;

    --bs-link-color-rgb: green;
    --bs-link-opacity: 1;
    
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
*/

  .text-bg-primary {
    color: #000 !important;
    background-color: RGBA(var(--bs-primary-rgb), var(--bs-bg-opacity, 1)) !important;
  }

  .bg-primary-subtle{
    background-color: var(--bs-primary-bg-subtle)
  }

  .text-bg-secondary {
    color: RGBA(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1)) !important;
    background-color: #fff !important;
  }

  .bg-secondary-subtle{
    background-color: var(--bs-secondary-bg-subtle)
  }

  .text-bg-carousel {
    color: #000 !important;
    background-color: #eeeeeedd !important;
  }

  .text-bg-tertiary {
    color: #000 !important;
    background-color: RGBA(var(--bs-tertiary-rgb), var(--bs-bg-opacity, 1)) !important;
  }

  .text-tertiary{
    color: rgba(var(--bs-tertiary-rgb),var(--bs-text-opacity)) !important;
  }


  .btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
  }

  .carousel-caption {
    position: absolute;
    right: 5%;
    bottom: 1rem;
    left: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    text-align: center;
  }


  .dropdown-menu {
      --bs-dropdown-link-active-bg: #4b7242;
      --bs-dropdown-link-hover-color: #c4e14c;
  }

}





/*
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/
.fs-1{  
    font-family: "Block Berthold Regular", sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.fs-3 {
    display: block;
    font-style: italic;
    font-size: 1rem !important;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .fs-1{  
      font-size: calc(1.375rem + 1.5vw) !important;
  }

  .fs-3 {
      font-size: calc(1.3rem + 0.6vw) !important;
  }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }



#ConstellationWidget{
  background-color: #a5c235;
}

.co-widget-title > *{
  font-size: 1.25rem !important;
  color: white !important;
}

#BtnLaunchBooking{
  background-color: #e88427 !important;
}