---
layout: none
---
# ce fichier est généré par jekyll
# les balises {% raw %}.....{% endraw %} evitent que les variables de configuration
# entre curly braces {{ variable }} ne soient traitées par Jekyll comme des balises Liquid

# local dev : https://decapcms.org/docs/working-with-a-local-git-repository/
# when using the default proxy server port
# comment this line when publishing online
local_backend: true

# backend locale
locale: fr 

backend:
  name: git-gateway
  branch: main

media_library:
  name: cloudinary
  output_filename_only: false
  config:
    cloud_name: dwr0s07kl
    api_key: 117657116259457

# those two entries have an influence on cloudinary file name contruction
# as they're added to the path
media_folder: 'assets/uploads'
# public_folder: "/image/upload" 

logo_url: /assets/logos/logo-chemins-de-traverse.webp

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"  

site_url: {{ site.url }}

publish_mode: simple # can be editorial_workflow

show_preview_links: true

collections:

  - name: pages-fr
    {% raw %}summary: "{{ order }} - {{category}} - {{title}} (publiée : {{ published }})"{% endraw %}
    label: Pages FR
    label_singular: Page FR
    folder: pages-fr
    create: true

    sortable_fields: ['ordrer', 'category', 'title', 'published']
    fields:
      - label: Publication
        name: published
        widget: boolean
        default: false
        required: false

      - label: URL
        name: permalink
        widget: string
        hint: De la forme "/categorie/titre-de-la-page/" Tout en minuscules, pas d'espace et pas d'accent

      - label: Title
        name: title
        widget: string

      - label: Catégorie
        name: category
        widget: relation
        collection: configuration
        file: categories
        search_fields: ["categories.*.fr"]
        display_fields: ["categories.*.fr"]
        value_field: "categories.*.fr"

      - label: Afficher le bouton de réservation
        name: show_booking_button
        widget: boolean
        default: true
        hint: Afficher le bouton de réservation. Valable pour les hébergements.
        required: true        

      - label: Code html Réservation Elloha
        hint: Voir les modules dans l'administration Elloha https://app.elloha.com/distribution/booking-engines-list.aspx
        name: bookin_button_code
        default: ""
        widget: "text"
        required: false

      - label: Introduction
        name: intro
        widget: markdown

      - label: Texte principal
        name: body
        widget: markdown

      - label: Description technique
        name: tech-description
        widget: markdown  
        required: false

      - label: Afficher 'à proximité de votre logement'
        name: show_nearby
        widget: boolean
        default: true
        hint: Afficher le texte sur les structures communes. Valable pour les hébergements sur le Camping et les nids.
        required: true

      - label: Tarifs - NE PAS REMPLIR ICI > VOIR FICHIER CALC
        name: tarifs
        hint: NE PAS REMPLIR ICI > VOIR FICHIER CALC
        widget: markdown  
        required: false

      - label: Adhésion ligue
        name: show_adhesion
        widget: boolean
        default: true
        hint: Afficher le texte adhésion aux Amis de la Ligue obligatoire
        required: false

      - label: Conditions de location
        name: show_rent_conditions
        widget: boolean
        default: false
        hint: Afficher les conditions de location (hébergements)
        required: false

      - label: Galerie photos
        name: gallery
        widget: list
        required: false
        field: 
          label: Image
          name: image
          widget: image
          choose_url: false

      - label: Document
        name: documents
        required: false
        widget: list
        fields: 
          - label: Document
            name: url
            widget: file
            choose_url: false

          - label: "Texte du lien de téléchargement"
            name: link_text
            widget: string
            hint: "Exemple : Téléchargez le dossier d'inscription à la Diagonale"

      - label: Ordre
        name: order
        widget: string
        hint: "Numérotation de 10 en 10 qui conditionne la position dans le menu. Sous la forme à trois chiffres : 010, 020, etc."
        required: true

      - label: "Modèle de page"
        name: "layout"
        widget: "select"
        options: ["activites", "hebergement", "divers"]
        default: "hebergement"

  - name: pages-en
    {% raw %}summary: "{{category}} - {{title}}"{% endraw %}
    label: Pages EN
    label_singular: Page EN
    folder: pages-en
    create: true
    sortable_fields: ['ordre', 'title']
    fields:
      - label: Publiée
        name: published
        widget: boolean
        default: false

      - label: Mise en avant
        name: home-carousel
        widget: boolean
        default: false
        required: false

      - label: URL
        name: permalink
        widget: string

      - label: Catégorie
        name: categorie
        widget: relation
        collection: configuration
        file: categories
        search_fields: ["categories.*.fr"]
        display_fields: ["categories.*.fr"]
        value_field: "categories.*.fr"

      - label: Title
        name: title
        widget: string

      - label: Introduction
        name: intro
        widget: markdown

      - label: Body
        name: body
        widget: markdown

      - label: Galerie
        name: gallery
        widget: list
        field: 
          label: Image
          name: image
          widget: image
          choose_url: false

      - label: Ordre
        name: Ordre
        widget: text
        hint: Numérotation de 10 en 10 qui conditionne la position dans le menu. 010, 020, ...

  - name: agenda
    {% raw %}summary: "{{date_start | date('DD/MM/YY')}} - {{date_end | date('DD/MM/YY')}} - {{category}} - {{title}}"{% endraw %}
    label: Agenda
    folder: _agenda
    create: true
    sortable_fields: ['date_start', 'title', 'category']
    fields:

      - {label: "Layout", name: "layout", widget: "hidden", default: "agenda"}
      - {label: "Lang", name: "lang", widget: "hidden", default: "fr"}

      - label: ANNULÉ !
        hint: LES ÉVÉNEMENTS ANNULÉS RESTENT DANS L'AGENDA AVEC UNE GROSSE PASTILLE "ANNULÉ"
        name: canceled
        widget: boolean
        default: false
        required: false

      - label: Title
        name: title
        widget: string

      - label: Catégorie
        name: category
        widget: select
        default: ["Chantiers bénévoles"]
        options: ["Chantiers bénévoles", "Animation nature", "Spectacle", "Conférence"]
        required: false        

      - label: Introduction
        name: intro
        widget: markdown

      - label: Texte
        name: texte
        widget: markdown

      - label: Date début
        name: date_start
        widget: datetime

      - label: Date fin
        name: date_end
        widget: datetime

      - label: Image
        name: image
        widget: image
        hint: Taille maximum 800 px de large
        required: false
        choose_url: false

  - name: partenaires
    label: Partenaires
    folder: _partenaires
    create: true
    {% raw %}summary: "{{name}}"{% endraw %}
    fields: 
      - label: Nom 
        name: name
        widget: string
      - label: Site internet
        name: url
        widget: string
        required: false
      - label: Description 
        name: description 
        widget: text
        required: false
      - label: Description EN
        name: description-en
        widget: text
        required: false
      - label: Type de partenaire
        name: type
        widget: "select"
        options: ["Premimum", "Animation", "Technique"]
        default: "Premium"        
      - label: Logo
        name: logo
        widget: image
        hint: Taille maximum 200 px
        required: false
        choose_url: false

  - name: configuration
    label: Configuration
    files:

      - label: Catégories
        name: categories
        file: _data/categories.yml
        fields:
          - label: Catégories
            name: categories
            identifier_field: fr
            widget: list
            fields:
              - label: Nom
                name: fr
                widget: string
              - label: Traduction EN
                name: en
                widget: string
              - label: Est parent
                hint: Cette catégorie est-elle un point d'entrée dans le menu, comme "Hébergements" ou "Activités"
                name: is_parent
                widget: boolean
                default: true
              - label: Menu
                name: menu
                hint: Dans quel menu doit apparaitre cette catégorie "main = menu principal" et "footer = menu pied de page"
                widget: "select"
                options: ["main", "footer"]


      - label: Caroussel Accueil
        name: carousel_fr
        file: _data/carousel_fr.yml
        fields:
          - label: pages
            name: pages
            identifier_field: title
            widget: list
            fields:
              - label: Titre
                name: title
                widget: relation
                collection: pages-fr
                search_fields: ["title"]
                display_fields: ["title"]
                value_field: "title"


      - label: Traductions
        name: translations
        file: _data/translations.yml
        fields:
          - label: Traductions
            name: translations
            identifier_field: fr
            widget: list
            fields:
              - label: ID
                name: slug
                widget: string
                hint: De la forme "nom-de-la-trad" Pas d'espace et pas d'accent
              - label: Texte FR
                name: fr
                widget: markdown                    
              - label: Traduction EN
                name: en
                widget: markdown                    


      - label: Options
        name: options
        file: _data/options.yml
        fields:
          - label: Options
            name: options
            widget: list
            fields:
              - label: Name
                name: name
                widget: string
              - label: Description
                name: description
                widget: markdown

  # - name: 'blog'
  #   label: 'Blog'
  #   folder: '_posts/'
  #   create: true
  #   {% raw %}slug: '{{year}}-{{month}}-{{day}}-{{slug}}'{% endraw %}
  #   editor:
  #     preview: false
  #   fields:
  #     - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'post' }
  #     - { label: 'Title', name: 'title', widget: 'string' }
  #     - { label: 'Publish Date', name: 'date', widget: 'datetime' }
  #     - {
  #         label: 'Author',
  #         name: 'author',
  #         widget: 'relation',
  #         collection: 'authors',
  #         display_fields: [name],
  #         search_fields: [name],
  #         value_field: 'name',
  #       }      
  #     - { label: 'Body', name: 'body', widget: 'markdown' }

  # - name: 'authors'
  #   label: 'Authors'
  #   label_singular: 'Author'
  #   folder: '_authors/'
  #   create: true
  #   identifier_field: name
  #   editor:
  #     preview: false
  #   fields:
  #     - { label: 'Pseudo', name: 'pseudo', widget: 'string' }
  #     - { label: 'Full Name', name: 'name', widget: 'string' }
  #     - { label: 'Bio', name: 'bio', widget: 'markdown', required: False }
  #     - { label: 'Image', name: 'image', widget: 'image', required: False }

  # - name: 'galleries'
  #   label: 'Galleries'
  #   label_singular: 'Gallery'
  #   folder: '_galleries'
  #   path: '{{slug}}/index'
  #   media_folder: ''
  #   public_folder: ''
  #   create: True
  #   editor:
  #     preview: false
  #   fields:
  #     - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'gallery' }
  #     - { label: 'Title', name: 'title', widget: 'string' }
  #     - { label: 'Description', name: 'description', widget: 'markdown' }
  #     - { label: "Published", name: "published", widget: "boolean", default: true }
  #     - { label: "Date", name: "date", widget: "datetime", default: "{{now}}", format: "YYYY/MM/DD", picker_utc: false }
  #     - { label: "Featured Image", name: "thumbnail", widget: "image", choose_url: true }
  #     - {
  #         label: 'Author',
  #         name: 'author',
  #         widget: 'relation',
  #         collection: 'authors',
  #         display_fields: [name],
  #         search_fields: [name],
  #         value_field: 'name',
  #       }      
  #     - label: 'Images'
  #       name: 'images'
  #       widget: 'list'
  #       fields: 
  #         - { label: 'Image', name: 'url', widget: 'image' }
  #         - { label: 'Caption', name: 'caption', widget: 'string' }



