---
published: true
permalink: /agenda/
category: Général
layout: default
title: Agenda
order: "30"
---

{% assign debug = false %}

<h1>{{ page.title | escape }}</h1>
{% if debug == true %}
  {%- include date_fr.html date_to_print=site.time -%}
{% endif %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


      {% assign events = site.agenda | sort: "date_start" %}

{% comment %} ===== Creating arrays to store events depending if they are future, present or past {% endcomment %}
{% assign future_events = "" | split: "," %}
{% assign current_events = "" | split: "," %}
{% assign past_events = "" | split: "," %}

{% comment %} ===== Sort events in three categories {% endcomment %}
{%- for event in events -%}
  {% if event.date_end < site.time %}
    {% assign past_events = past_events | push: event %}{% endif %}
  {% if event.date_start > site.time %}
    {% assign future_events = future_events | push: event %}{% endif %}
  {% if event.date_start < site.time and event.date_end > site.time %}
    {% assign current_events = current_events | push: event %}{% endif %}
{%- endfor -%}


      {%- for event in future_events -%}
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <span class="badge text-bg-primary">{%- include date_fr.html date_start=event.date_start date_end=event.date_end format="badge" -%}</span>
                {% if event.canceled %}<span class="badge text-bg-danger">ANNULÉ</span>{% endif %}
                <h2 class="card-title">{{ event.title }}</h2>
                <h5 class="card-subtitle mb-2 text-body-secondary">
                  {%- include date_fr.html date_start=event.date_start date_end=event.date_end -%}
                </h6>
                <p class="card-text">{{ event.intro }}</p>      
                <div class="d-flex justify-content-between align-items-center">
                  <a class="btn btn-primary btn-sm" href="{{ event.url }}">En savoir plus</a>
                </div>
              </div>
             </div>
          </div>
      {%- endfor -%}


    </div>
  </div>
</div>