---
layout: default
---

{% assign img_transformations_names = "t_1300-16-9,t_950-16-9,t_720-16-9,t_430-16-9,t_250-16-09,t_media_lib_thumb" | split: "," %}

{% for img_url in page.gallery %}Original
  <img class="img-fluid" src="{{ img_url }}"><br>
  {% assign url_parts = img_url | split: "/" %}
  {% for img_trans in img_transformations_names %}
    {% assign url_trans = img_url | replace: url_parts[6], img_trans %}
      {{ img_trans }}
      <img class="img-fluid" src="{{ url_trans }}"><br>
    {% endfor %}
{% endfor %}

<main class="container">
  <div class="row rounded text-body-emphasis bg-body-secondary g-2">
    <div class="col px-0">
      <h1 class="display-4 fst-italic">{{ page.title }}</h1>
      <p class="my-3">
      Vous allez bivouaquer dans des tentes nomades, découvrir les secrets des sous-bois, louer un âne pour accompagner vos découvertes, habiter des cabanes insolites, cheminer le long des ruisseaux forestiers jusqu’à leur source, apprendre la vannerie sauvage, vous initier au croquis naturaliste avec un professionnel le temps d’un week-end … ou tout simplement profiter du calme et de la sérénité des lieux, en famille ou entre amis, pour vous reposer, prendre le temps de vivre …
      </p>
    </div>    
    <div class="col-lg-4 px-0">
      <img class="img-fluid" src="{{ '/assets/uploads/pxl_20250414_140621026.jpg' | relative_url }}">
    </div>
  </div>
</main>

<div class="p-5 mb-4 bg-body-tertiary rounded-3 jumbo">
  <div class="container-fluid rounded-3 jumbo-text">
    <h1 class="display-5 fw-bold"></h1>
    <p class="col-md-8 fs-4">{{ page.intro | markdownify }}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col bg-primary-subtle">
      {{ content | markdownify }}
      <button class="btn btn-primary btn-lg" type="button">Réserver</button>
    </div>
    <div class="col-3">{% comment %}
      {% if page.gallery %}

      {% for img_url in page.gallery %}
      <img src="{{ img_url | relative_url }}" width="100px">
      {% endfor %}

      {%- endif -%}
    </div>{% endcomment %}    
  </div>

  <div class="row">
    {% if page.tech-description %}
    <div class="col">
      {{ page.tech-description | markdownify }}
    </div>
    {% endif %}    
  </div>

  <div class="row">
    {% if page.tarifs %}
    <h2>tarifs</h2>
    <div class="col">
      {{ page.tarifs | markdownify }}
    </div>
    {% endif %}
    {% if page.show_adhesion %}
    <div class="col bg-warning-subtle">
      {%- assign texte = site.data.translations.translations | where:"slug", "adhesion_ligue" | first -%}
      {{ texte[page.lang] | markdownify }}
    </div>
    {%- endif -%}
  </div>

{% if page.documents %}
  <div class="row">
    <div class="col">
      <ul>
      {% for doc in page.documents %}
        <li>
          <a href="{{ doc.url | relative_url }}">{{ doc.link_text }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>    
  </div>
{%- endif -%}

</div>







