---
layout: default
---

<main class="container">
  <div class="row rounded text-body-emphasis bg-body-secondary g-2">
    <div class="col px-0">
      <h1 class="display-4 fst-italic">Vivre la forêt ...</h1>
      <p class="lead my-3">
      Le projet des Chemins de Traverse vous propose de vivre et d’habiter vivre les forêts du Parc national de Forêts, 11 ème et dernier né des Parc nationaux français.
      </p>
      <p class="my-3">
      Vous allez bivouaquer dans des tentes nomades, découvrir les secrets des sous-bois, louer un âne pour accompagner vos découvertes, habiter des cabanes insolites, cheminer le long des ruisseaux forestiers jusqu’à leur source, apprendre la vannerie sauvage, vous initier au croquis naturaliste avec un professionnel le temps d’un week-end … ou tout simplement profiter du calme et de la sérénité des lieux, en famille ou entre amis, pour vous reposer, prendre le temps de vivre …
      </p>
      <p class="lead mb-0"><a href="{{ '/qui-sommes-nous' | relative_url }}" class="text-body-emphasis fw-bold">En savoir plus sur Chemins de Traverse...</a></p>
    </div>    
    <div class="col-lg-4 px-0">
      <img class="img-fluid" src="{{ '/assets/uploads/pxl_20250414_140621026.jpg' | relative_url }}">
    </div>
  </div>
</main>

<div class="container">
  <section class="py-1 text-center">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Nos hébergement</h1>
      </div>
    </div>
  </section>
{%- assign pages = site.pages | where:"category", "Hébergements" | where:"lang", page.lang | sort: "order" -%}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {%- for p in pages -%}
    <div class="col">
      <div class="card shadow-sm">
        <a class="nav-link" href="{{ p.url | relative_url }}">
          <img class="img-fluid" src="{{ p.gallery| first | relative_url }}">
        </a>
        <div class="card-body">
          <a class="nav-link" href="{{ p.url | relative_url }}">
            <h3 class="card-text">{{ p.title }}</h2>
          </a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>


<div class="container">
  <section class="py-1 text-center">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Nos activités</h1>
      </div>
    </div>
  </section>
{%- assign pages = site.pages | where:"category", "Activités" | where:"lang", page.lang | sort: "order" -%}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {%- for p in pages -%}
    <div class="col">
      <div class="card shadow-sm">
        <a class="nav-link" href="{{ p.url | relative_url }}">
          <img class="img-fluid" src="{{ p.gallery| first | relative_url }}">
        </a>
        <div class="card-body">
          <a class="nav-link" href="{{ p.url | relative_url }}">
            <h3 class="card-text">{{ p.title }}</h2>
          </a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>