---
layout: default
---
{%- if site.print-includes-boundaries-comments == true %}
<!-- home layout start -->
{%- endif %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 ">

    {%- include home-carousel.html -%}

		{%- include home-category-section-thumbnails.html category="Hébergements" -%}

		{%- include home-category-section-thumbnails.html category="Activités" -%}

    </div>

  </div>
</div>
{%- if site.print-includes-boundaries-comments == true %}
<!-- home layout end -->
{%- endif %}
