---
layout: default
---
{% assign img_list = page.gallery %}

<style>
  /* TEST
testing Jumbo and css background images
  */
.jumbo{
  background-image: url("{{ page.gallery | first }}");
  background-size: cover;
  text-shadow: -1px 0px 1px #fff;
}
.jumbo-text{
  background-image: url("/assets/jumbo-background.png");
  background-repeat: repeat;
}
</style>


<div class="p-5 mb-4 bg-body-tertiary rounded-3 jumbo">
  <div class="container-fluid rounded-3 jumbo-text">
    <h1 class="display-5 fw-bold">{{ page.title }}</h1>
    <p class="col-md-8 fs-4">{{ page.intro | markdownify }}</p>
    <button class="btn btn-primary btn-lg" type="button">Réserver</button>
  </div>
</div>

<br><br>

<table class="table table-striped table-secondary table-bordered">
  <caption>
    Champs visibles pour les Hébergements et les Activité
  </caption>
  <thead>
    <tr>
      <th scope="col">Nom du champ</th>
      <th scope="col">Exemple</th>
      <th scope="col">Commentaire</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Titre</th>
      <td>Tentes Nomades</td>
      <td>text non formaté</td>
    </tr>
    <tr>
      <th scope="row">Introduction</th>
      <td>Vous souhaitez vivre un week-end ou un séjour insolite 100% nature, être hébergé ; la veille ou au retour de votre séjour ; en balade ou randonnée, … Nous vous proposons de vivre cette expérience dans l’une de nos 2 tentes nomades installées dans un vallon de rêve en bordure de la forêt.</td>
      <td>texte utilisé dans les encarts des pages de type "tous nos hébergement". Peut être tronqué si nécessaire</td>
    </tr>
    <tr>
      <th scope="row">Texte principal</th>
      <td>La tente nomade est ronde et spacieuse avec ses 5 ou 6 mètres de diamètre et ses 3 mètres de hauteur. <br>
Sa conception en fait une habitation fixe ou nomade, fiable, agréable à vivre et très conviviale.<br>
Elle est disposée sur une plateforme bois et spécialement aménagée pour vous accueillir de façon très confortable. <br>
Un couple ou une famille, un groupe de 3 ou 4 adultes (ou 2 adultes et 2/3 enfants) peuvent y 
séjourner agréablement.<br>
</td>
      <td>Texte "qui fait rêver"</td>
    </tr>
    <tr>
      <th scope="row">Description technique</th>
      <td><h2>Descriptif intérieur</h2>
Un espace nuit équipé de 3 lits en bois de hêtre avec matelas, draps, couette et oreiller.
Un espace vie quotidienne avec table basse et sièges bas en bois, des casiers de rangement. 
Éclairage autonome par lampe à leds.<br>
<h2>Descriptif extérieur</h2>
1 espace cuisine privatif extérieur sous toile avec un réchaud à gaz 2 feux, vaisselle complète et ustensiles de cuisine. <br>
1 table bois avec bancs. <br>
1 carriole à bras pour le transport des affaires. <br>
Autour de la tente, grands espaces de vie. Possibilité de barbecue à proximité de la maison forestière.<br>
1 toilette sec privatif à proximité de la tente et un espace vaisselle et douches collectif (avec eau chaude).<br>
Réfrigérateur partagé à la maison forestière.
</td>
      <td></td>
    </tr>
   <tr>
      <th scope="row">Tarifs</th>
      <td><h2>Tarifs :</h2>
Forfait : 70.00 € :la tente par nuitée (3 ou 4 personnes).<br>
Taxe de séjour en sus : 0.22 €/personne adulte/nuitée<br>
Adhésion à la Ligue de l’enseignement : 10,76 €/foyer/an<br>
</td>
      <td></td>
    </tr>
   <tr>
      <th scope="row">Adhésion Ligue</th>
      <td>      Pour séjourner dans notre hébergement, vous vous acquitterez de l’adhésion
      annuelle à la **Ligue de l’enseignement de Haute-Marne**, association
      d’éducation populaire,  porteuse du projet. <br>
      Il vous sera donc demandé une adhésion de **10,76€ par foyer et par an** à votre arrivée. <br>
      En réservant, vous vous engagez à régler l’adhésion à votre arrivée à Chemins de Traverse. Merci de votre confiance.<br>
    </td>
      <td>Spécifique aux hébergement</td>
    </tr>
   <tr>
      <th scope="row">Conditions de location</th>
      <td>      
        <h2>Conditions de location</h2>
      Location de votre tente d’hôtes du premier jour à 14h00 au dernier jour à 12h00.<br>
      Compte tenu de la mise à l’écart du site, nous mettons à disposition de l’eau en bidons alimentaires.<br>
      Les plateformes bois ne sont pas sécurisées. Il est demandé aux parents d’être vigilants avec les jeunes enfants.<br>
      Dates d’ouverture : du 1er juin au 31 août 2025</td>
      <td>Spécifique aux hébergement</td>
    </tr>
   <tr>
      <th scope="row">Galerie de photos</th>
      <td>1 à n photos</td>
      <td>La première photo est utilisée comme illustration principale.<br>
      Les photos suivantes sont affichées en vignettes.<br>
      Un clic ouvre la photo en grand
    </td>
    </tr>
   <tr>
      <th scope="row">Documents</th>
      <td>1 à n documents. Ex : contrat de réservation, etc<br>
      </td>
      <td>Le lien est de type : Télécharger le contrat de location</td>
    </tr>

  </tbody>

</table>